[Unit]
Description=MCM System Daemon
After=syslog.target
DefaultDependencies=no

[Service]
ExecStart=/usr/bin/mcm-daemon
Type=forking

[Install]
WantedBy=multi-user.target
